<div class="container-fluid process">
	<div class="row pro pro1">
		<div class="col-md-6 col-sm-12">
			<div class="icon-text">
				<h1 class="orange pro-title"><%= t('static_pages.home.process.title1')%></h1>
				<p><%= t('static_pages.home.process.text1')%> </p>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="bigicon">
				<%= image_tag("aviao.png") %>
			</div>
		</div>
	</div>
	<div class="row pro pro2">
		<div class="col-md-6 col-sm-12 col-md-push-6">
			<div class="icon-text">
				<h1 class="pro-title"> <%= t('static_pages.home.process.title2')%> </h1>
				<p> <%= t('static_pages.home.process.text2')%> </p>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 col-md-pull-6">
			<div class="bigicon icon">
				<%= image_tag("yarn.png") %>
			</div>
		</div>
	</div>
</div>