<% provide(:title, "Home") %>
	<div class="home-hero-container">
		<%= vider_tag video_path("video.mp4"), position: '50% 50%', class: "video"%>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title-wrapper">
						<h1 class="hero-big-title"><%= t('static_pages.home.hero-title1')%></h1>
						<h1 class="hero-big-title">
							<%= t('static_pages.home.hero-title2')%> <span class="hero-word"> <%= t('static_pages.home.hero-title3')%></span>
						</h1>
					</div>
					<%= link_to t('call'), contacts_path, :"data-no-turbolink" => true, class: "btn hero-btn btn-blue main-btn", id:"action"%>
				</div>
			</div>
		</div>
	</div>

<%= render 'static_pages/clients' %>
<%= render 'static_pages/process' %>
<%= render 'static_pages/callSection' %>
<%= render 'static_pages/map' %>
