<% provide(:title, "Home") %>
	<div class="home-hero-container">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-3 col-md-6 col-sm-12">
					<h1 class="hero-big-title"><%= t('static_pages.home.title1')%>
						<br> <%= t('static_pages.home.title2')%>
						<span class="hero-word"><%= t('static_pages.home.title3')%></span>
					</h1>
					<a href="#" class="btn hero-btn"><%= t('static_pages.home.call-to-action')%></a>
				</div>
			</div>
		</div>
	</div>

<%= render 'static_pages/process' %>
	