<% provide(:title, "Contact") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 info-adress">
      <h3 class="text-center"><%= t('static_pages.info.title')%>:</h3>
      <address class="text-center">
        <p>
          Lugar de Mariz – S.Vicente <br>
          4705-981 – S.Vicente <br>
          Braga - Portugal
        </p>
      <p>
        <span class="bold"><%= t('static_pages.info.tel')%>:</span> + 351 253 705 940
      </p>
      <p>
        <span class="bold">Email:</span> geral@ngs.pt
      </p>
      <h4 class="bold"><%= t('static_pages.info.coord')%>:</h4>
      <p>
        <span class="bold"><%= t('static_pages.info.lat')%>:</span> 45.51795
      </p>
      <p>
        <span class="bold"><%= t('static_pages.info.long')%>:</span> -9.87795
      </p>
      </address>
    </div>
    <div class="col-md-6 maps">
      <div id="map"></div>
    </div>
  </div>
</div>

<script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 41.527381, lng: -8.661947},
          zoom: 15,
          scrollwheel: false,
          draggable: false
        });
        var image = {
          url:"<%= image_url("local-ngs.png") %>",
          size: new google.maps.Size(50, 75),
          scaledSize: new google.maps.Size(45, 70),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(0, 0)
        };
        var marker = new google.maps.Marker({
          position:  new google.maps.LatLng(41.527381,-8.661947),
          map: map,
          animation: google.maps.Animation.DROP,
          title: 'Ngs malhas',
          icon: image
        });

        var contentString = '<div id="container">'+
                        '<h5>Ngs - Malhas</h5>'+
                        '<p>Estada nacional Braga - Esposende </p>' +
                         '<p>Enfrente à BMW</p>' +
                        '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 250
        });
         google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });
      }
    </script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>