<% provide(:title, "Contact") %>
<div class="container-fluid hello">
  <div class="row">
    <h2 class="text-center"><%= t('contact-page.title') %></h2>
    <div class="col-xs-12">
      <p class="contact-text"><%= t('contact-page.text1') %> <br> <%= t('contact-page.text2') %></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="contact col-sm-12 col-md-8 col-md-offset-2 ">
    <% flash.each do |type, message| %>
    <div class="alert <%= type %>-msg fade-in">
    <button class="close" data-dismiss="alert">X</button>
    <%= message %>
    </div>
  <% end %>
      <%= simple_form_for @contact, :html => {:class => 'contact-form' } do |f| %>
        <%= f.input :name, :required => true%>
        <%= f.input :email, :required => true %>
        <%= f.input :message, :as => :text, :required => true , :class=> "contact-message"%>
        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
          </br>
          <%= f.button :submit, t('contact-page.send'), :class=> " btn hero-btn btn-orange" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
